.cart-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.cart-item-info {
  display: flex;

}

.cart-item-controls {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.quantity-controls {
  display: flex;
  align-items: center;
  gap: 5px;
}